<% include ../partials/header %>

<section class="font-1 py-4">
  <div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="my-4"><%= benchmark.name %></h3>
        <p class="mb-4"><%- benchmark.description %></p>
        <div class="inline-block pr-4">
          <a href="<%= benchmark.explanation_link %>" class="btn btn-xs btn-icon btn-secondary btn-icon-left" target="_blank">
            <span class="fa fa-file-text">
            </span> Learn More
          </a>
          <a  target="_blank" href="https://docs.google.com/a/berkeley.edu/forms/d/1DJVBZWooaQ3uActLZyQXvBg0N8cZ4qsvqABb3BjKBZA/viewform" 
              class="btn btn-xs btn-icon btn-primary btn-icon-left" target="_blank">
            <span class="fa fa-cloud-upload">
            </span> Submit Solutions
          </a>
        </div>
      </div>
      <div class="col-lg-6 auto-resizable-iframe py-6">
      <div> <!-- required for ifram css -->
      <iframe
        src="https://www.youtube.com/embed/<%= benchmark.yt_string%>?autoplay=1&mute=1&loop=1&playlist=<%= benchmark.yt_string%>">
        <!-- mute=1 required for autoplay, playlist required for looping on single video -->
      </iframe>
      </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.jumbotron-->
  </div>
  <!--/.container-->
</section>


<!-- Leaderboard -->
<section class="px-6 font-1 py-4">
<h2 class="fs-3 mb-1 fw-200">Leaderboard</h2>
<div class="table-responsive pt-5">
  <table class="table table-striped">
      <thead>
          <tr>
            <th>Rank</th>
              <th>Username</th>
              <th>Date</th>
              <th>Score</th>
          </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < solutions.length; i++) { %>
          <% var solution = solutions[i] %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= solution.username %></td>
            <td><%= solution.timestamp %></td>
            <td><%= solution.score %></td>
          </tr>
        <% } %>
      </tbody>
  </table>
</div>
</section>

<% include ../partials/footer %>