<% include ../partials/header %>

<section class="p-0 color-white font-1">
<div class="background-holder overlay overlay-0" style="background-image:url(../assets/images/background/aerial-view-architecture-bridges-681335.jpg);"> </div>
<!--/.background-holder-->
<div class="container">
    <div class="row h-half align-items-center py-5">
        <div class="col-md-8 col-lg-5">
            <h1 class="fs-3 fs-md-4 mb-3">Solve traffic together on Flow Garden</h1>
            <p class="lead fs-xs-1">Flow Garden is a new way to create, share, and compete on benchmarks for traffic control. Find
                existing benchmarks and
                share your solutions to them, or create your own new benchmarks!</p>
              </p>
        </div>
    </div>
<!--/.row-->
</div>
<!--/.container-->
</section>

<section class="font-1 p-4">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h3 class="color-1">How It Works</h3>
        <hr class="short mb-4 color-8 mt-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4>Submit solutions.</h4>
        <p>Flow Garden makes it easy to submit your benchmark solutions for the world to see. Write up a
          controller, submit it, and share a link to your paper or solution!</p>
        <h4>Submit your own benchmarks.</h4>
        <p>Want to draw attention to an understudied traffic task? Submit a benchmark via PR, add a
          description and a video, and it's up and running for other researchers to use!</p>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>

<section class="text-center font-1 p-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h3 class="color-1">Benchmarks</h3>
        <hr class="short mb-4 color-8 mt-4">
      </div>
    </div>
    <div class="row">
      <% benchmarks.forEach(function(benchmark){ %>
      <div class="col-md-6">
        <div class="card">
          <!-- <a class="overflow-hidden" href="on-ramp.html">
            <img class="card-img-top" src="../assets/images/experiments/on-ramp.jpeg" alt="Card image cap">
          </a> -->

          <iframe class="" src="https://www.youtube.com/embed/<%= benchmark.yt_string%>"></iframe>
          <div class="card-block">
            <a class="color-2" href="on-ramp.html">
              <h5 class="card-title"><%= benchmark.name %></h5>
            </a>
            <p class="card-text color-2 font-1"><%- benchmark.description %> </p>
          </div>
          <div class="card-footer">
            <div class="media align-items-center">
              <a href="/benchmark/<%= benchmark.id %>">
                <a target="_blank" href="/benchmark/<%= benchmark.id %>"><span
                    class="fa fa-trophy"></span> Leaderboard</a>
                <div class="media-body l-h-0">
                  <a class="color-1" href="../team.html">
                    <h6 class="mb-0">Created by Flow Team</h6>
                  </a>
                  <span class="fs--1 color-2">2018</span>
                </div>
            </div>
          </div>
        </div>
        <div class="my-6"></div>
      </div>
      <%  })  %>
    </div>
  </div>
  <!--/.container-->
</section>

<% include ../partials/footer %>